@model IEnumerable<AttendanceRecordViewModel>

@{
    ViewData["Title"] = "Attendance Records";
}

<h2>@ViewData["Title"]</h2>
<a class="btn btn-light rounded-pill hover-button" asp-area="" asp-controller="Attendance"asp-action="FetchAttendance" >Back</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        
        <thead>
            <tr>
                <th>Date</th>
                <th>Subject</th>
                <th>Student Name</th>
                <th>Is Present</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Date.ToString("yyyy-MM-dd")</td>
                    <td>@record.SubjectName</td>
                    <td>@record.StudentName</td>
                    <td>@(record.IsPresent ? "Present" : "Absent")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No attendance records found for the selected date and subject.</p>
}
